* {
   margin: 0px;
   padding: 0px;
}

.footer-container {
   background-image: linear-gradient(to right, #03DAC5, #6200EE, #3700B3, #212121);
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 6%;
   color: white;
   font-size: 14pt;
   justify-items: center;
   border-top: 1px solid #fff;
}

.footer > p {
   padding: 15px 0;
   text-align: center;
}