* {               /* reseta toda configuração prévia de style da página e deixa ela pronta pra ser estilizada */
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  width: auto;
  height: auto;
}

body{               /* adiciona uma cor de fundo para página toda */
  background-color: #EAFFE9;
}

header {            /* estiliza o nome da página */ 
  color: #67AB9F;
  border: 1px solid #3C635D;
  text-align: center;
  padding: 20px 0;
  margin: 15px;
  text-shadow: 1px 1px 1px black;
}

h4 {        /* estiliza o sub-título da página */
  color: #67AB9F;
  border: 1px solid #3C635D;
  text-align: center;
  padding: 20px 0;
  margin: 15px;
  text-shadow: 1px 1px 1px black;
}

table{            /* alinha a tabela pra o centro da página */
  max-width: 80%;
  margin: auto;
}

tr, td, th {            /* estiliza o conteúdo da tabela */
  border: 1px solid black;
  border-collapse: collapse;
  padding: 25px 35px;
  text-align: center;
  background-color: white;
}

th {          /* estiliza primeira linha da tabela, que é diferente das outras linhas */
  background-color: #3C635D;
  color: white;
  text-shadow: 1px 1px 1px black; 
}

img {         /* arruma as imagens dentro da tabela */
  float: center;
  width: 15%;
}

#botoes-links{          /* alinha e coloca margem nos links da página funcionários */ 
  text-align: center;
  margin: 50px; 
}

.b-home {       /* estiliza o link para a página inicial do sistema loja */ 
  background-color: #67AB9F;
  color: white;
  border: 1px solid #3C635D;
  border-radius: 15px;
  margin: 20px;
  padding: 5px 15px;  
}

.b-adicionar {           /* estiliza o link para a página adicionar produtos */
  background-color: #67AB9F;
  color: white;
  border: 1px solid #3C635D;
  border-radius: 15px;
  margin: 20px;
  padding: 5px 15px;
}

.b-funcionarios {            /* estiliza o link para a página funcionários */ 
  background-color: #67AB9F;
  color: white;
  border: 1px solid #3C635D;
  border-radius: 15px;
  margin: 20px;
  padding: 5px 15px;
}

footer {               /* estiliza o footer em geral */
  text-align: center;
  margin: 30px;
  border: 1px solid #3C635D;
  padding: 15px;
}

footer > p {            /* alinha o texto no footer */ 
  text-align: center;  
}