*{
   margin: 0;
   padding: 0;
}

h1 {
   background: lightseagreen;
   text-align: center;
   text-shadow: 2px 2px black;
   padding: 10px;
   color: white;;
   margin-bottom: 15px;
   border-bottom: 3px solid darkcyan;
}

label {   
   font-weight: bold;
   font-size: 14pt;
   margin: 0 20px;
}

input {
   margin: 10px 20px;
}

button {
   margin: 0 15px;
   background: darkslategray;
   color: white;
   text-shadow: 2px 2px black;
   border: none;
   border-radius: 15px;
   padding: 10px;
}

h2 {
   text-align: center;
   margin: 15px;
}

p {
   margin-left: 25px;
}

#b-deleta {
   background: none;
   padding: none;
   border: none;
   margin: 0;
}

#reseter{
   position: fixed;
   bottom: 20px;
}